{% extends "SwapPlatformBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}

<div class="container">
	<div class="row">
		<div class="col-md-3 col-md-offset-1">
			<div class="panel-body shadow Compte">
				<img class="img-responsive" src="{{asset('bundles/swapplatform/images/silhouette.png') }}">
				<p>{{ user.username }}</p>
				<p>Ma swapBank : {{ user.swapBank }}
				<a href="{{ path('swap_platform_profil') }}">
					<button id="boutonProfil" class="btn btn-primary text-center col-md-12">Modifier mon profil</button>
				</a>
			</div>
		</div>
		<div class="col-md-offset-1 col-md-7">
			<div class="panel panel-default">
				<div class="multi-select-calender"></div>
				<div class="box">
				</div>
				<div id="deleteDate">
					{{ form_start(form) }}
					{# Les erreurs générales du formulaire. #}
					{{ form_errors(form, { 'attr': { 'class' : 'form-control' }} ) }}
					{{ form_row(form.deletedDate, { 'attr': { 'class' : 'form-control' }} ) }}
					{{ form_row(form.save, { 'attr': { 'class' : 'col-sm-offset-18 btn btn-default' }} ) }}
					{{ form_end(form, { 'attr': { 'class' : 'form-control' }} ) }}
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}