{% extends "SwapPlatformBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}

<div class="container">
	<div class="row">
		<div class="col-md-3 col-md-offset-1">
			<div class="panel-body shadow Compte">
				<img class="img-responsive" src="{{asset('bundles/swapplatform/images/silhouette.png') }}">
				<a href="{{ path('swap_platform_profil') }}">
					<button id="boutonProfil" class="btn btn-primary text-center col-md-12">Modifier mon profil</button>
				</a>
			</div>
		</div>
		<div class="col-md-offset-1 col-md-7">
			<div class="panel-body shadow Compte">
				<a href="{{ path('swap_ajouter_service') }}">
					<button class="btn btn-primary raleway400 text-center col-xs-94 col-xs-offset-1">Ajouter un Swap</button>
				</a>
				<a href="">
					<button class="btn btn-primary raleway400 text-center col-xs-94 col-xs-offset-1">Gérer mes swaps</button>
				</a>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="panel-body shadow Compte">
						<span class="titreCompte"><p>Mes demandes reçu</p><span>
						<hr>
				</div>
			<div class="row">
				<div class="col-md-12">
					<div class="panel-body shadow Compte">
						<span class="titreCompte"><p>Mes demandes envoyées</p><span>
						<hr>
				</div>
			<div class="row">
				<div class="col-md-12">
					<div class="panel-body shadow Compte">
						<span class="titreCompte"><p>Prochains services que vous allez recevoir</p><span>
						<hr>
						<table>
						<thead>
							<tr>
								<th>Statut</th>
								<th>Date/Service</th>
								<th>Membre</th>
								<th>Détails</th>
							</tr>
						</thead>
						{% for reservation in reservations %}
							<tbody>
								<tr>
									<td></td>
									<td>
										{{ reservation.service.categorie }}</br>
										Du : {{ reservation.dateArrival }}</br>
										Au : {{ reservation.dateDeparture }}
									</td>
									<td>
										{{ reservation.service.user.username }}
									</td>
									<td>Détails</td>
								</tr>
							</tbody>
						{% endfor %}
						</table>
				</div>
			<div class="row">
				<div class="col-md-12">
					<div class="panel-body shadow Compte">
						<span class="titreCompte"><p>Prochains service que allez rendre</p><span>
						<hr>
				</div>
			<div class="row">
				<div class="col-md-12">
					<div class="panel-body shadow Compte">
						<span class="titreCompte"><p>Historique des services qui vous ont été rendus</p><span>
						<hr>
				</div>
			</div>
			</div>
			</div>
			</div>
			</div>
			</div>
		</div>
	</div>
</div>
			
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

{% endblock %}

