{% extends "SwapPlatformBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}

	<div class="row">
		<div class="col-md-offset-3 col-md-3 ">
			{% for swap in listSwaps %}
				<div id="resultSearch" class="panel panel-default">
					<div class="row">
						<div class= col-md-3 ">
							{{ swap.categorie }}
						</div>
						<div class="col-md-5 ">
							{{ swap.adresse }}
						</div>
						<div class="col-md-3 ">
							{{ swap.user }}
							<a href="{{ path('swap_focus', { 'id': swap.id }) }}">Voir le Swap</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<div id="map" class="col-md-6"></div>
	</div>

{% endblock %}