{% extends "SwapPlatformBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-md-offset-1">
				<div class="panel-body shadow Compte">
					<img class="img-responsive" src="{{asset('bundles/swapplatform/images/silhouette.png') }}">
				</div>
			</div>
		</div>
		{% for message in listMessage %}
			<div class="row">
				<div class="col-md-offset-3 col-md-3 ">
					<div class="panel panel-default">
						{{ message.content }}
					</div>
				</div>
			</div>
		{% endfor %}
		{{ form_start(form) }}
		{{ form_errors(form, { 'attr': { 'class' : 'form-control' }} ) }}
		{{ form_row(form.content, { 'attr': { 'class' : 'form-control' }} ) }}
		{{ form_row(form.save, { 'attr': { 'class' : 'col-sm-offset-18 btn btn-primary ' }} ) }}        
		{{ form_rest(form, { 'attr': { 'class' : 'form-control' }} ) }}
		{{ form_end(form, { 'attr': { 'class' : 'form-control' }} ) }}
	</div>
{% endblock %}